/*
Theme Name : stamyou
Theme URI : http://ihemant360.in/
Author: Hemant Bhoi
Author URI: http://ihemant360.in/
Version: 1.0
Description: HTML5 Theme simple and fast
*/


html,
body{
	margin:0;
	padding:0;
}

.main-container{
	display:flex;
	width:1070px;
	height:auto;
	margin: 0 auto;
	box-shadow: 1px 1px 25px #ccc;
	margin-top:100px;
	border-radius:10px;
}

/* Sidebar */


.sidebar {
	background-color:#d0d0cf;
	float:left;
	width:350px;
	padding:20px;
}
#sidebar ul{
	list-style-type: none;
}
#sidebar ul li a{
	text-decoration: none;
	text-align: center;
}
/*  Main Container  */
.content{
	float:right;
	width:100%;
	overflow: auto;
    padding: 30px;
	
}
.content p{
	line-height:1.8;
	color:#847e7e;
	font-family: sans-serif;
}
.content img{
	width:100%;
	height:100%;
}
.content h1 a{
	color: royalblue;
    text-decoration: none;
}

/*  Navigation Menu */

.nav-menu{
	background-color:#fff;
	font-size:25px;
	text-align:center;
	
}

.nav-menu ul{
	list-style-type:none;
	margin-left:-40px;
}
.nav-menu li{
	padding:10px;
	border-bottom:1px solid #ccc;
}

.nav-menu li a {
	text-decoration:none;
	color:#000;
	font-family:verdana;
}

.nav-menu li a:hover{
	color:royalblue;
	text-decoration:underline;
	
}

/*  Searh Form  */

.search-form input{
	margin-left:-25px;
	padding:10px;
	border:none;
}


/* Main container and Blog Post   */

.content-heading{
	background-color:#424344;
	color:#fff;
	width:100%;
	height: 100px;
	margin-top:-20px;
}
.blog-post{
	padding:10px;
	font-family: sans-serif;
}

.blog-post h2 a{
	color:royalblue;
	text-decoration:none;
}

.post-image img{
	width:80%;
	height:80%;
	margin: 10px auto;
	display:block;
}


/* Footer Sections */

.footer{
	height:500px;
	background-color:#424344;
	padding: 20px;
	margin-top:80px;
	overflow:hidden;
}


/*
	e-Book subscribe form 
*/

.subscribe-form{
		background-color:#fff;
		
}
.subscribe-form img{
	
	width:100%;
	height:100%;
}
.subscribe-form .form{
	padding:20px;
}
.subscribe-form .form input{
	margin:10px;
	padding:5px;
}
.subscribe-form .form input#sub-btn{
	background-color:#FFC107;
	border:none;
	padding:10px;
	border-radius:5px;
	font-weight:bold;
	cursor:pointer;
	margin-left: 55px;
	
}

/*  Admin Page Customization  */

.admin-navbar{
	
	background-color: #ccc;
	width: 100%;
	height: 50px;
}

.admin-welcom{
	float:left;
	background-color:#000;
	color: #fff;
	margin-left: 10px;
}
.signout-nav{
	float: right;
	margin-right:30px;
	margin-top:15px;
}
.signout-nav a{
	text-decoration:none;
	color:#607d8b;
	font-weight:bolder;
}



























